.card {
  background-color: $white;
  text-align: center;
  width: 90%;
  max-width: 350px;
  gap: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  p {
    padding: 2px 26px 23px 10px;
  }

  img {
    width: 50%;
    height: 180px;
    object-fit: contain;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
  }
}
