.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;

  .box {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: $shadow-grid;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  @include respond-to('desktop') {
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
    gap: 20px;
  }
}
