header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 130px;

  @include respond-to('tablet') {
    width: 200px;
  }

  @include respond-to('desktop') {
    width: 250px;
  }
}
