h1, h2 {
  color: $primary-dark;
  font-family: $font-poppins;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: -15px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-family: $font-roboto;
  font-weight: 500;
  font-size: 25px;
  color: $primary-dark;
}

h4 {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 25px;
  color: $white;
  margin: 10px 0;
}
