<!DOCTYPE HTML>
<!-- This website is designed by MD Ziauddin -->
<html lang="en">
<head>
	<!-- Google Fonts -->
  	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/styles.css">
	<title>Web Mechanic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="container">
	<!-- use this header area for website name and logo -->
		<header>
			<div class="logo"><a class="logo" href="index.html"> <img src="images/logo.svg" alt="Web Mechanic"></a></div>
			<!-- use this nav area for hyperlink -->
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
	</header>
	<!-- use this main area for main content -->
		<main>

			
		</main>

	<!-- use this footer area for footer content-->
		<footer>
			<img src="images/logo.svg">
			&copy; WebMechaninc 2025. All Rights Reserved.
			<a href="mailto:hello@webmechaninc.com">hello@webmechaninc.com</a>


			<div class="social-icons">
				Follow Us On &nbsp;<span><img src="images/icon1.svg"></span> <span><img src="images/icon2.svg"></span> <span><img src="images/icon3.svg"></span>

			</div>
		</footer>
	</div>
</body>
</html>